<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

	<!-- LOCAL -->
		<!-- <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/RegPrecise</property>
		<property name="hibernate.connection.username">root</property>-->
		 
	<!-- REMOTE -->
		<!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/RegPrecise</property>
		<property name="hibernate.connection.username">regprecise_ro</property>
		<property name="hibernate.connection.password">regPrecise_Pw_123</property> -->
		
	<!-- CORRECT WAY -->
		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>    
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/RegPrecise</property>
		<property name="show_sql">true</property>
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- Specifying Session Context -->
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
       
		
		
		
		
		
	<!-- OTHER OMIT IN CORRECT WAY -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.id.new_generator_mappings">false</property>
		<!-- <property name="connection.pool_size">1</property>
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">60</property>
		<property name="c3p0.max_size">1</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.timeout">120</property> 
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property> -->
		
		
		
		
		
		
		<!-- SQL dialect <property name="dialect">org.hibernate.dialect.HSQLDialect</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- validate the database schema on startup -->
		<property name="hbm2ddl.auto">validate</property>
		

		<mapping class="com.lbl.regprecise.ent.Article" />
		<mapping class="com.lbl.regprecise.ent.Collection" />
		<mapping class="com.lbl.regprecise.ent.CollectionGenome" />

		<mapping class="com.lbl.regprecise.ent.ComputationalValidation" />
		<mapping class="com.lbl.regprecise.ent.Cron" />
		<mapping class="com.lbl.regprecise.ent.ExperimentalValidation" />
		<mapping class="com.lbl.regprecise.ent.Gene" />
		<mapping class="com.lbl.regprecise.ent.Genome" />
		<mapping class="com.lbl.regprecise.ent.Locus" />
		<mapping class="com.lbl.regprecise.ent.Operon" />
		<mapping class="com.lbl.regprecise.ent.Ortholog" />
		<mapping class="com.lbl.regprecise.ent.Profile" />
		<mapping class="com.lbl.regprecise.ent.Riboswitch" />
		<mapping class="com.lbl.regprecise.ent.RiboswitchRawSite" />



		<mapping class="com.lbl.regprecise.ent.ProcessState" />
		<mapping class="com.lbl.regprecise.ent.PropagatedGene" />
		<mapping class="com.lbl.regprecise.ent.PropagatedRegulator" />
		<mapping class="com.lbl.regprecise.ent.PropagatedRegulon" />
		<mapping class="com.lbl.regprecise.ent.PropagatedSite" />
		<mapping class="com.lbl.regprecise.ent.PropagatedCollection" />
		<mapping
			class="com.lbl.regprecise.ent.PropagatedGene2GeneOrtholog" />
		<mapping
			class="com.lbl.regprecise.ent.PropagatedRegulator2RegulatorOrtholog" />
		<mapping class="com.lbl.regprecise.ent.PropagatedGeneScore" />

		<mapping class="com.lbl.regprecise.ent.Regulator" />
		<mapping class="com.lbl.regprecise.ent.Regulog" />
		<mapping class="com.lbl.regprecise.ent.Regulon" />
		<mapping class="com.lbl.regprecise.ent.Regulome" />
		<mapping class="com.lbl.regprecise.ent.Site" />
		<mapping class="com.lbl.regprecise.ent.RegElement" />
		<mapping class="com.lbl.regprecise.ent.Project" />
		<mapping class="com.lbl.regprecise.ent.ProjectRegulog" />
		<mapping class="com.lbl.regprecise.ent.Taxon" />
		<mapping class="com.lbl.regprecise.ent.TaxonGenome" />
		<mapping class="com.lbl.regprecise.ent.TFFamily" />
		<mapping class="com.lbl.regprecise.ent.Effector" />
		<mapping class="com.lbl.regprecise.ent.EffectorClass" />
		<mapping class="com.lbl.regprecise.ent.Pathway" />
		<mapping class="com.lbl.regprecise.ent.PathwayClass" />
		<mapping class="com.lbl.regprecise.ent.Tool" />


		<mapping class="com.lbl.regprecise.ent.SearchIndex" />
		<mapping class="com.lbl.regprecise.ent.Term" />
		<mapping class="com.lbl.regprecise.ent.User" />
		<mapping class="com.lbl.regprecise.ent.UserRole" />
		<mapping class="com.lbl.regprecise.ent.CollectionUserRole" />
		<mapping class="com.lbl.regprecise.ent.ProjectUserRole" />
		<mapping class="com.lbl.regprecise.ent.Log" />
		<mapping class="com.lbl.regprecise.ent.DatabaseRelease" />

	</session-factory>

</hibernate-configuration>